@keyframes cloak-in {
    0% {opacity: 0;}
}
#app {
    animation: cloak-in 1s;
}
#app[v-cloak]{
    opacity: 0;
}
.card {
    background-color: bisque;
    display: inline-block;
    font-size: 1em;

    height: 200px;
    width: 140px;
    margin: 5px;
    border-radius: 5%;

    position: relative;
}
.card .display-mark {
    position: absolute;
    display: inline-block;
}
.display-mark.top-left{
    top: 0;
    left:0;
}
.display-mark.bottom-right{
    bottom: 0;
    right:0;
    transform: rotate(180deg);
}
.card .display-mark span {
    display: block;
}