<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <select v-model="current">
            <option  v-for="topic in topics" v-bind:value="topic.value">
                {{ topic.name }}
            </option>
        </select>
        <ul>
            <li v-for="item in list">
                {{ item.full_name }}
            </li>
        </ul>
    </div>


    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>