<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app" v-cloak>
        <h1>{{resultMessage}}</h1>
        <div>
            <!-- そのまま定義した内容を使える。リテラル入れたいならシングルクオートで囲う。 -->
            <button @click="hit(player)" :disabled="isStandPlayer">ヒット</button>
            <button @click="stand(player)" :disabled="isStandPlayer">スタンド</button>
        </div>
        <div>
            <p>あなた：{{viewPlayerSum}}</p>
            <playing-card v-for="pCard in player.cards" v-bind:card="pCard"/>
        </div>
        <div>
            <p>ディーラー：{{(isStandDealer) ? viewDealerSum : ""}}</p>
            <template v-if="isStandDealer">
                <playing-card v-for="dCard in dealer.cards" :card="dCard" />
            </template>
            <template v-else>
                <playing-card :card="dealer.cards[0]" />
            </template>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>